body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
div {
}

h1 {
  color: #66BFBF;
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
    line-height: 2;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;

}

h3 {
  color:  #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}
a {
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.profile {
  margin-top: 50px;
}
 hr {
   border: dotted #EAF6F6 6px;
   border-bottom: none;
   width: 4%;
   margin: 100px auto;



}
.web-design {
  padding: 0 450px;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.code-img {
  height: 200px;
  width: 200px;
  height: 25%;
  width: 25%;
  float: left;
  margin-right: 30px;
}


.code-img2 {
  height: 200px;
  width: 200px;
  height: 25%;
  width: 25%;
  float: right;
  margin-right: 30px;
}


.mountain {
  height: 360px; width: 512px;
}
.footer-link {
  color:  #11999E;
  font-family: 'Montserrat', sans-serif;
}



.top-container {
  background-color: #e4f5f9;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}
.bottom-paragraph{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.HWI {
  height: 300px;
  width: 300px;
}
.BUTTON_TFG {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 60px;
}

.BUTTON_TFG:hover {
   border: solid #2BC4AD 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   text-decoration: none;
}
